[Desktop Entry]
Name=Xtream Player
Comment=Watch IPTV from an Xtream Codes provider
Exec=xtream-player
Icon=io.github.mackilanu.XtreamPlayer
Terminal=false
Type=Application
Categories=AudioVideo;Video;GTK;
Keywords=IPTV;Xtream;Live;TV;
StartupNotify=true
StartupWMClass=io.github.mackilanu.XtreamPlayer
